html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #555555;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

#innerBody {
    display: flex;
    height: 100vh;
    width: 100%;
}

#container {
    display: flex;
    padding: 10px;
    width: 100%;
}

#leftPanel {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 10px;
    padding: 20px;
    margin: 0 5px;
    background-color: #000000;
    overflow: hidden; /* Dodane, aby uniknąć przekraczania zawartości */
}

.headerPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#innerLeftPanel {
    height: 100%;
    overflow: auto;
    /* border: 2px solid peru; */
    background-color: #202020;
    border-radius: 10px;
}

#rightPanel {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
    margin: 0 5px;
    background-color: #000000;
}

.folder {
    list-style-type: none;
    padding-left: 1em;
    border-left: 1px solid #ccc;
    margin-bottom: 0.5em;
    cursor: pointer;
    color: #fff;
}

#fileViewer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* border: 2px solid peru; */
}

#fileViewerV1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* border: 2px solid peru; */
}

.folder:hover {
    background-color: #333;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1, h2 {
    color: #4CAF50;
}

#fileViewer iframe,
#fileViewer audio {
    width: 100%;
    /* max-width: 800px; */
    margin-top: 10px;
}

p {
    color: #aaa;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    background-color: #000000;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.item{
    font-size: 15px;
}

.close:hover {
    color: #272727;
    background-color: #555555;
}

/* Search bar */
#searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#searchInput:focus {
    outline: none;
    border-color: #4CAF50; /* Kolor obramowania po uzyskaniu focusu */
}
/* END Search bar */














/* ... Inny kod CSS ... */

@media only screen and (max-width: 600px) {
    #container {
        flex-direction: column;
        height: 100vh;
    }

    #leftPanel, #rightPanel {
        width: 100%;
        padding: 20px;
        margin: 0 0 10px 0;
        box-sizing: border-box;
    }

    #leftPanel {
        height: 35%;
        transition: height 0.3s; /* Dodano transition dla płynnego efektu zmiany wysokości */
    }

    #leftPanel h2{
        font-size: 18px;
    }

    #rightPanel {
        height: 65%;
        overflow: hidden;
        border-radius: 10px;
    }

    .fullWidth {
        height: 100% !important; /* Ustawienie wysokości na 100% z priorytetem */
    }

    .close {
        width: 40px;
        height: 30px;
    }
    
    .item{
        font-size: 9px;
    }
}

